/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    cursor: crosshair;
}

*, *:before, *:after{
  box-sizing: inherit;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: "nimbus-sans-condensed", sans-serif;

}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  cursor: pointer;
}

header{
  margin: .5em;
  padding: .25em 1.75em;
}

header img{
  width: .9em;
  text-align: right;
}

header ul{
    font-size: 2em;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  display: inline-block;
}

.col-7-left{
  width: 20%;
  float: left;
}

.col-7-center{
  width: 55%;
  text-align: center;
}

.col-7-right{
  width: 20%;
  float: right;
  text-align: right;
}


.arrow-left{
  position: absolute;
  top: 40%;
  left: 2em;;
}

.arrow-right{
  position: absolute;
  top: 40%;
  right: 2em;
}

.view-finder{
  display: block;
  position: relative;
  height: 40em;
  margin: .5em auto;
  padding: 0 4em;
  overflow: auto;
}

.view-finder img, .view-finder p{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.accro-section{
  position: absolute;
  top: 50%;
  width: 10%;
  height: 100%;
  padding: 2em;
}

.header-info{
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  line-height: 1;
  max-width: 14em;
}

.slide-numbers-vf{
  position: absolute;
  top: 50%;
  right: 0em;
  width: 10%;
}



/*BEGIN BOTTOM NAVAGATION ---------------------*/

.project-nav{
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: .5em;
}

.project-nav h3{
  margin: 0 auto;
  padding: .25em;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.125;
}

.project-nav li{
  font-size: 1.5em;
  padding: 0 .25em;
}

.project-header-center{
  text-align: center;
}

.project-info{
  width: 23%;
  display: inline-block;
  overflow: auto;
  margin: 0 auto;
  padding: 1em 2em;
}

.copy-padding{
  padding-bottom: 1.4em;
  height: 2.85em;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
